<%- include('partials/header.ejs') %>

<h1 style="color: red;">Bienvenido al error 404</h1>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Peu404vitfr.jpg" alt="404" width="300">
<br>
<%- include('partials/footer.ejs') %>