<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/products">Productos</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>
</nav>