<%- include('../partials/header.ejs') %>

<h1>Crear auto</h1>

<form method="post" action="/products/create" enctype="multipart/form-data">
    <label for="name">Nombre</label>
    <input type="text" name="name">
    <label for="year">Año</label>
    <input type="text" name="year">

    <br>
    <input type="file" name="images" id="images" multiple>
    <br>


    <button type="submit">Crear</button>
</form>


<%- include('../partials/footer.ejs') %>